.jumbotron {
  padding-top: 6rem;
  background-color: #eee;
  margin-bottom: 10rem;
}

.jumbotron img {
  width: 150px;
  width: 200px;
}

.row .col h1,
.row .col p {
  margin-bottom: 0;
}

section.about .container .row .col img.img-thumbnail {
  width: 10%;
}
#projects {
  background-color: #eee;
}

footer {
  padding-bottom: 5px;
  background-color: #eee;
  text-align: center;
  font-weight: bold;
}

.navbar.navbar-expand-lg {
  background-color: white;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 0;
}
